[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"

[packages]
aiohttp-requests = "*"
requests = "*"
pytest = "*"
pytest-cov ="*"
codecov = "*"
python-dotenv = "*"
fastapi = "*"
fastapi-restful = "*"
fastapi-utils = "*"
uvicorn = "*"
pytest-asyncio = "*"
async_asgi_testclient = "*"
sentry_sdk = "*"
json_log_formatter = "*"
python_dotenv = "*"
stopit = "*"
prometheus_client = "*"
prometheus-fastapi-instrumentator = "*"
asgi-ratelimit = "*"
pre-commit = "*"
requests-mock = "*"
pytest-benchmark = "*"
pytest-it = "*"

[requires]
python_version = "3.8"
